* {
  margin: 0;
  padding: 0;
}

.chart {
  margin: 5%;
  display: flex;
  /* flex-direction: column; */
  max-width: 600px;
}

.chart__films {
  margin-right: 3%;

}

/* .chart__streaming {} */

.bar {
  width: 800px !important;
  height: 450px !important;
}

.doughnut {
  width: 450px !important;
    height: 450px !important;
}

canvas {
  border: 2px solid black;
}
